<main>
    <h1>{{game.title}}</h1>
    <p>{{game.platform}}</p>
    <p>{{game.releaseYear}}</p>
    <p>{{game.description}}</p>

    <form action="/admin/delete-game" method="POST">
        <input type="hidden" name="gameId" value="{{game.id}}">
        <button type="submit">Delete</button>
    </form>

    <a href='/admin/edit-game/{{game.id}}?edit=true'>Edit</button>
</main>