<main>
    <div class="game-details-container">
        <div class="game-details">
            <div class="game-details__image">
                <img src="{{game.imageUrl}}">
            </div>
            <div class="game-details__content">
                <h1>{{game.title}}</h1>
                <h2>{{game.releaseYear}}</h2>
                <h3>{{game.platform}}</h3>
                <p>{{game.description}}</p>
                <div class="game-details__actions">
                    <form action="/admin/delete-game" method="POST">
                        <input type="hidden" name="gameId" value="{{game.id}}">
                        <button type="submit">Delete</button>
                        <a class="btn" href='/admin/edit-game/{{game.id}}?edit=true'>Edit</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>