<main>
    <h1>My games</h1>
    {{#if hasGames}}
    <div class="grid">
        {{#each games}}
        <article class="card">
            <header class="card__header">
                <h1>{{this.title}}</h1>
            </header>
            <div class="card__content">
                <h2>{{this.releaseYear}}</h2>
                <p>{{this.platform}}</p>
            </div>
            <div>

                <a href="/games/{{this.slug}}" class="button">Details</a>
            </div>
        </article>
        {{/each}}
    </div>
    {{ else}}
    <h2>No games found.</h2>
    {{/if}}
</main>